[defaults]
inventory = inventories/example/hosts.yml
roles_path = ansible/roles
collections_path = .ansible/collections
stdout_callback = yaml
interpreter_python = auto_silent
retry_files_enabled = false
host_key_checking = true
deprecation_warnings = false

[privilege_escalation]
become = true
